<html>
<head>
  <title>Bomb Guys</title>
  
  <script>JSCLASS_PATH = 'jsclass/min/'</script>
  <script src="js/deps/jsclass/min/loader-browser.js"></script>
  
  <script src="js/deps/jquery.js"></script>
  <link rel="stylesheet" href="css/jquery-ui.css" />
  <script src="js/deps/jquery-ui.min.js"></script>
  
  <script src="js/deps/svg.js"></script>
  <script src="js/deps/svg.draggable.js"></script>
  
  <script src="js/deps/three.js"></script>
  <script src='js/deps/threex.keyboardstate.js'></script>
  
  <script src="js/deps/stats.js"></script>
  
  <script src="js/deps/jquery.nouislider.js"></script>
  <link rel="stylesheet" type="text/css" href="css/jquery.nouislider.css"></link>
  
  <link rel="stylesheet" type="text/css" href="css/webapp.css"></link>
  <script src="webapp.js"></script>
</head>

<body>
<div id="rootdiv">
  <div class="layer" id="canvas-layer">
    <div id="maincanvascontainer">
      <!--<canvas id="maincanvas"></canvas>-->
    </div>
  </div>
  <div class="layer" id="svgdoc-layer">
    <div id="output" style="position: absolute; top: 80px; background-color: #444444; opacity: 0.75; color: #fdfdfd; width: 250px">
        nothing
    </div>
    <div id="timeslider"></div>
  </div>
  <div class="layer" id="menu-layer">
	<div class="pane" id="sidebar-pane">
	  <ul class="pane-content" id="sidebar-content">
        <li><span><button class="sidebar-button" id="sidebutton-scanall">Manual Control</button></span></li>
        <li><span><button class="sidebar-button" id="sidebutton-scanall">Scan Region</button></span></li>
        <li><span><button class="sidebar-button" id="sidebutton-scanall">Full Scan</button></span></li>
        <li><span><button class="sidebar-button" id="sidebutton-settings">Quick Settings</button></span></li>
        <li><span><button class="sidebar-button" id="sidebutton-settings">Advanced Settings</button></span></li>
        <li><span><button class="sidebar-button" id="sidebutton-cactus">Place Probe</button></span></li>
        <li><span><div style="margin: 1px; width: calc(100% - 4px); height: calc(100% - 4px); border: 1px solid #777;"></div></span></li>
      </ul>
	</div>
	<div class="pane popout-pane" style="display: none;">
	  <div class="popout-header">
	    PopOutHeader
	  </div>
	  <div class="popout-content">
	    content and stuff
	  </div>
	  <div class="popout-footer">
	    <button id="close-popout-button">X</button>
	  </div>
	</div>
  </div>
</div>
</body>

</html>
